<div class = "container">
   <%= form_with url:create_image_path(), html: { multipart: true }, action: "post", local: true do |f| %>
      <%= f.label :Image %>
      <%= f.file_field :attachment %>
   <% end %>
</div>