
<div class="section">
  <div class="container">
    <h1 class="title is-2">New Project</h1>
  
    <%= render 'form', project: @project %>
  <br />
  <%= link_to 'Projects', project_path, class:'button btn-primary' %>
  </div>
</div>